{% extends 'base.html.twig' %}
{% block title %}Contact{% endblock %}
{% block body %}
  <!-- map section -->

  <section class="map_section">
    <div id="map" class="h-100 w-100 ">
    </div>

    <div class="form_container ">
      <div class="row">
        <div class="col-md-8 col-sm-10 offset-md-4">
          {{ form_start(form, {'attr': {'class':'form-horizontal'}}) }}
{{ form_errors(form) }}
	<div class="form-group">
		<div class="col-xs-6">
			{{ form_row(form.name, {'attr': {'class':'form-control'}}) }}
		</div>
		<div class="col-xs-6">
			{{ form_row(form.phoneNumber, {'attr': {'class':'form-control'}}) }}
		</div>
	</div>
	<div class="form-group">
		<div class="col-xs-12">
			{{ form_row(form.email, {'attr': {'class':'form-control'}}) }}
		</div>
	</div>
	<div class="form-group">
		<div class="col-xs-12">
			{{ form_row(form.message, {'attr': {'class':'form-control'}}) }}
			{{ form_row(form.Send, {'attr': {'class':'pull-right btn btn-lg sr-button'}}) }}
		</div>
	</div>
{{ form_end(form) }}
        </div>
      </div>
    </div>
  </section>

  <!-- end map section -->
{% endblock %}