{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div id="register">
    <div class="container layout_padding">
        <h1 class="custom_heading">Re<span>gi</span>ster</h1>

        {{ form_start(registrationForm) }}
			{{ form_row(registrationForm.name,  {'attr': {'class':'form-control'}}) }}
            {{ form_row(registrationForm.email,  {'attr': {'class':'form-control'}}) }}
            {{ form_row(registrationForm.plainPassword,  {'attr': {'class':'form-control'}}, {
                label: 'Password'
            }) }}
            {{ form_row(registrationForm.agreeTerms) }}

            {{ form_row(registrationForm.Send, {'attr': {'class':'btn btn-lg btn-primary'}}) }}
        {{ form_end(registrationForm) }}
    </div>
</div>
{% endblock %}
